<div class="cards">
  <%= link_to "Sentiment Analysis", "https://github.com/vishizaki/sentiment-analysis-cnbc-bi", class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/sentiment.png)", target: :_blank  %>

  <%= link_to "PCA Analysis", "https://github.com/vishizaki/pca-analysis-survey", class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/pca.png)", target: :_blank  %>

  <%= link_to "Regression Analysis", "https://github.com/vishizaki/regression-analysis-apprentice-chef", class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/regression.png)", target: :_blank  %>

  <%= link_to "Classification Analysis", "https://github.com/vishizaki/classification-analysis-apprentice-chef", class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/classification.png)", target: :_blank  %>  

  <%= link_to "https://boomwriter.com", id:"card-title", class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/enerpel.png)", target: :_blank do %>

    <div id="card-hidden-title">
      Redesigning whole EdTech Application
      <div id="card-hidden-text"><p class="hidden-p">
        Ruby script to mine financial information of Brazilian Real Estate Investment Trust's
        </p>
      </div>
    </div>
  <% end %>


  <%= link_to "https://github.com/vishizaki/funds-explorer-mining", id:"card-title", class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/fe.png)", target: :_blank do %>

    <div id="card-hidden-title">
      Mining REIT's financial information
      <div id="card-hidden-text"><p class="hidden-p">
        Ruby script to mine financial information of Brazilian Real Estate Investment Trust's
        </p>
      </div>
    </div>
  <% end %>

</div>
