<%= render 'components/navbar' %>

<div class="wave-brackground section-size">
  <div class="main-container">
    <div class="home-header"> 
      <h1>Vinicius Y. Ishizaki</h1>
      <h2 class="mb-5">Product Management | Finance | Data Analytics</h2>
      
    <%= render 'components/contact_me' %>  
    </div>
    <div>
    </div>
  </div>
</div>

<div class="main-container section-size" id="about-me-section">
  <div class="section-header">
    <div class="section-container">
      <div class="section-sub-header">
      <h2 class="sub-header">About me</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>
      <%= image_tag 'profile_pic', :class => "profile_img" %>
    </div>
  </div>
</div>

<div class="portfolio-bg">
  <div class="main-container section-size" id="portfolio-section">
    <div class="portfolio-header">
      <h2 class="sub-header portfolio-subheader">Portfolio</h2>
      <%= render 'components/project_grid' %>  
    </div>
  </div>
</div>

<div class="main-container section-size" id="contact-section">
  <div class="contact-header">
    <h2 class="sub-header" >Contact</h2>
    <p class="paragraph-contact">
      Let's connect to discuss projects, share knowledge, or even to grab a cup of coffee and talk about life!
    </p>
    <%= render 'components/contact_me' %>  
  </div>
</div>