<%= render 'components/navbar' %>

<div class="wave-brackground section-size">
  <div class="main-container">
    <div class="home-header"> 
      <h1>Vinicius Y. Ishizaki</h1>
      <h2 class="mb-5">Product Management | Finance | Data Analytics</h2>
      
    <%= render 'components/contact_me' %>  
    </div>
    <div>
    </div>
  </div>
</div>

<div class="main-container section-size" id="about-me-section">
  <div class="section-header">
    <div class="section-container">
      <div class="section-sub-header">
      <h2 class="sub-header mb-3">About me</h2>
      <p>
        My name is Vinicius Ishizaki. I have 13 years of experience launching and developing technology products and holding leadership roles in Finance, from Financial Services to Education and from big multinational companies to startups. I am currently a Product Manager for an EdTech company based in Cambridge, MA and working remote from San Francisco, CA.
        <br><br>
        As a Product Manager for an EdTech startup I have worked on features that impacted over 400k students, who wrote more than 90 million words in our app and we have reached out more than 100 countries. 
        <br>
        As Toshiba’s Head of Finance, I led the implementation project of a new ERP system, transitioning from SAP to Oracle impacting 250MM worth of assets.
        <br><br>
        I consider myself a lifelong learner as I am always seeking new topics to study and master. I try to balance my self-pace studying with formal education. My areas of interest are AI/ML, analytics, product management, finance, investments, and capital markets and my goal is to be the most dynamic professional as I can.

        <br><br>
        Today I can bring to the table skills in finance, M&A, accounting, FP&A, product management, data analytics, data modeling, strategy, and programming. My tech stack comprises: HTML, CSS, JavaScript, Ruby on Rails, Python, R, SQL and PostgreSQL. I have also tried Hadoop, Spark and MongoDB.
      </p>
      </div>
      <%= image_tag 'profile_pic.jpg', :class => "profile_img" %>
    </div>
  </div>
</div>

<div class="portfolio-bg">
  <div class="main-container section-size" id="portfolio-section">
    <div class="portfolio-header">
      <h2 class="sub-header portfolio-subheader">Portfolio</h2>
      <%= render 'components/project_grid' %>  
    </div>
  </div>
</div>

<div class="main-container section-size" id="contact-section">
  <div class="contact-header">
    <h2 class="sub-header" >Contact</h2>
    <p class="paragraph-contact">
      Feel free to contact me to discuss projects, share knowledge, or to just talk about life.
      <br>
      I am always in for a cup of coffee and a nice conversation!
    </p>
    <%= render 'components/contact_me' %>  
  </div>
</div>