<!DOCTYPE html>
<html>
  <head>
    <title>Vinicius Ishizaki</title>

    <meta name="Description" content="Personal portfolio of Vinicius Ishizaki.">

    <meta name="KeyWords" content="vinicius, ishizaki, portfolio">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VR0Y8CE8HW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VR0Y8CE8HW');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
